.tooltip-main {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(200, 255, 0);
  width: 50%
}

.ng-tooltip {
      position: absolute;
      max-width: 150px;
      font-size: 14px;
      text-align: center;
      color: #f8f8f2;
      padding: 3px 8px;
      background: #282a36;
      border-radius: 4px;
      z-index: 1000;
      opacity: 0;
    }